body {
	background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7LalK529IxGrs2wQe7OJ4S8HAbRdrMM8GaqkeI3hD-zpdALF0pg);
}

#imagine {
	width: 7em;
	height: auto;
	margin-left:50%;
}

#tilt {
	margin-left:45%;
color: black;
}



.navbar{
	background-color: black;
	color: black;
	margin-top: 0%;
	width: 100%;
}

 .navbar ul {
	 display: inline-flex;
 }

 .navbar ul li {
	margin: 1em 12em;
 }

 #space {
	 background-color: white;
	 height: 75%;
	 width: 75%;
	 margin-left:15%;
 }

#johan {

}

#nine {
  border-bottom: 3px solid black;
}
