h1 {
  color:orange;
  text-align: center;
}

.container {
  color:yellow;
}

body {
   background-color: green;
}

.navbar {
  text-align: left;
  background-image: url(https://astrobiology.nasa.gov/uploads/filer_public_thumbnails/filer_public/c1/11/c111824c-b145-4dd2-8df6-a12f8ab131c6/pia13442.jpg__1240x510_q85_crop_subsampling-2.jpg);

}
.login {
  float:right;
  display: table-column;
  top:5px;
}

.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 10px;
  border: 1px solid #204156;
  position: relative;
}

.login a:active {
  top: 5px;
}

footer {
border: 3px dotted white;
color: white;
font-size: 12px;
}

img {
  width: 400px;
  height: 400px;
  border: 3px solid black;
}

#buttonlogin {
  color: gold;
}
